textarea { font-family: "±¼¸²", "±¼¸²Ã¼"; font-size: 9pt; color: #222222; }
table {font-family: "±¼¸²"; font-size: 9pt; color: #3d3d3d;}
a {text-decoration: none ; color:#3d3d3d}
a:hover {text-decoration: underline; color:#FF6000}
img {border:none}

.board_white {font-family: "µ¸¿ò"; font-size: 9pt; line-height: 140%; color: white; text-decoration: none}
.board_white:hover {color: 333333; text-decoration: uberline}

.board_text {font-family: "µ¸¿ò"; font-size: 9pt; line-height: 140%; color: 02191C; text-decoration: none}

.column_home {font-size: 9pt; text-decoration: none; font-weight: bold; color: #956fce; line-height: 20px; text-align: justify}

.column_title01 {font-size: 9pt; text-decoration: none; font-weight: bold; color: #4182c4; line-height: 20px; text-align: justify}
.column_title02 {font-size: 9pt; text-decoration: none; font-weight: bold; color: #08797e; line-height: 20px; text-align: justify}
.column_title03 {font-family: "µ¸¿ò"; font-size: 11pt; text-decoration: none; font-weight: bold; color: #058b51}
.column_title04 {font-family: "µ¸¿ò"; font-size: 11pt; text-decoration: none; font-weight: bold; color: #4182c4}
.column_title05 {font-family: "µ¸¿ò"; font-size: 11pt; text-decoration: none; font-weight: bold; color: #c36d22}

.list_1 {font: 7pt/10pt "verdana", "±¼¸²Ã¼"; color: #D03815;}
.list_2 {font: 9pt/12pt "verdana", "±¼¸²Ã¼"; color: #0066cc;}
.list_1s {font: 8pt/14pt "verdana", "±¼¸²Ã¼"; color: #D03815;}
.list_2s {font: 9pt/14pt "verdana", "±¼¸²Ã¼"; color: #0066cc;}
select {font-family: "±¼¸²", "±¼¸²Ã¼"; font-size: 9pt; line-height: 11pt;}

.form {border:solid 1 #555555; background-color:white; color:#black; font-size: 9pt;}

.form_01 {border:solid 1 #555555; color:#black; font-size: 9pt;}

.txt1 {font-family: "verdana", "arial", "swiss"; font-size: 9pt; line-height: 13pt; text-decoration: none; color: #333333}
.txt2 {font-family: "verdana","arial","swiss"; font-size: 8pt; line-height: 10pt; text-decoration: none; color: #333333}
.txt3 {font-family: "verdana","arial","swiss"; font-size: 9pt; line-height: 13pt; text-decoration: none; color: #EE5A00}
.txt4 {font-family: "verdana","arial","swiss"; font-size: 8pt; line-height: 10pt; text-decoration: none; color: #EE5A00}
.txt5 {font-family: "verdana", "arial", "swiss"; font-size: 9pt; line-height: 13pt; text-decoration: none; color: #000000}
.txt6 {font-family: "verdana", "arial", "swiss"; font-size: 7pt; line-height: 13pt; text-decoration: none; color: #333333}
.txt7 {font-family: "gulim", "±¼¸²Ã¼"; font-size: 9pt; line-height: 13pt; color: #333333}
.txt8 {text-decoration: none; font: 8pt/11pt "µ¸¿ò", "±¼¸²Ã¼"; color:#7B797B;}
.txt9 {font-family: "verdana", "arial", "swiss"; font-size: 9pt; line-height: 13pt; text-decoration: none; color: #4A310C}

.m00 {font: 9pt/11pt "verdana", "±¼¸²Ã¼"; color:#ffffff;}
.m01 {font: 9pt/11pt "verdana", "±¼¸²Ã¼"; color:#333333;}
.m02 {font: 9pt/11pt "verdana", "±¼¸²Ã¼"; color:#214263;}
.mr01{font: 8pt/13pt "verdana", "±¼¸²Ã¼"; color: #FF6D13; text-decoration: none;}
.bk01 {font: 9pt/11pt "verdana", "±¼¸²Ã¼"; color:#000000;}
.bk02 {font: 9pt/11pt "verdana", "±¼¸²Ã¼"; color:#787878;}

.bk02s{font: 7pt/11pt "verdana", "±¼¸²Ã¼"; color:#787878;}

.b01 {font: 9pt/11pt "verdana", "±¼¸²Ã¼"; color:#054FA3;}

.y00 {font: 9pt/11pt "verdana", "±¼¸²Ã¼"; color:#FFE205;}
.rd {font: 9pt/11pt "verdana", "±¼¸²Ã¼"; color:#FC0000;}
.rd_02 {text-decoration: none; font: 7pt/10pt "verdana", "±¼¸²Ã¼"; color:#AB0E05;}
.rd_03 {text-decoration: none; font: 8pt/11pt "µ¸¿ò", "±¼¸²Ã¼"; color:#FF5757;}

.bd01 {font: 9pt/15pt "verdana", "±¼¸²Ã¼"; color:#000000;}
.bd66 {font: 9pt/15pt "verdana", "±¼¸²Ã¼"; color:#666666;}
.bd00 {font: 9pt/11pt "verdana", "±¼¸²Ã¼"; color:#000000; font-weight:bold;}

.bd01s {font: 8pt/11pt "±¼¸²", "±¼¸²Ã¼"; color:#895331;  font-weight:bold;}

.bd02s {font: 9pt/11pt "±¼¸²", "±¼¸²Ã¼"; color:#000000;  font-weight:bold;}

.bd02 {font: 9pt/11pt "±¼¸²", "±¼¸²Ã¼"; color:#3F3F3F;   font-weight:bold;}
.bd03 {font: 9pt/11pt "verdana", "±¼¸²Ã¼"; color:#F35600; font-weight:bold;}
.bd04 {font: 9pt/11pt "verdana", "±¼¸²Ã¼"; color:#FFF3DD; font-weight:bold;}

.br_01 {font: 9pt/15pt "verdana", "±¼¸²Ã¼"; color:#7E4005;}
.br_02 {font: 8pt/9pt "verdana", "µ¸¿ò"; color:#7E4005;}

a:link { text-decoration: none; font: 9pt/11pt "±¼¸²", "±¼¸²Ã¼"; color: #666666;}
a:visited { text-decoration: none; font: 9pt/11pt "±¼¸²", "±¼¸²Ã¼"; color:#333333;}
a:hover { text-decoration: underline; font: 9pt/11pt "±¼¸²", "±¼¸²Ã¼"; color: #FF6000;}

.or:link {text-decoration: none;font: 8pt/11pt "Verdana", "µ¸¿ò"; color:#FA4A22;}
.or:visited {text-decoration: none; font: 8pt/11pt "Verdana", "µ¸¿ò"; color:#FA4A22;}
.or:hover {text-decoration: underline;font: 8pt/11pt "Verdana", "µ¸¿ò"; color:#FA4A22;}

.ob:link {text-decoration: none; color:#214163;}
.ob:visited {text-decoration: none; color:#1E5B9B;}
.ob:hover {text-decoration:underline; color:#FF6000;}

.bd_01:link {text-decoration: none; color:#895331;  font-weight:bold;}
.bd_01:visited {text-decoration: none; color:#F36F 1D;  font-weight:bold;}
.bd_01:hover {text-decoration: none; color:#895331;  font-weight:bold;}


.bd_02:link {text-decoration: none; color:#895331;  font-weight:bold;}
.bd_02:visited {text-decoration: none; color:#F36F1D;  font-weight:bold;}
.bd_02:hover {text-decoration: none; color: #895331;  font-weight:bold;}

.bk_01:link {text-decoration: none; font: 9pt/11pt "±¼¸²", "±¼¸²Ã¼"; color:#000000;  font-weight:bold;}
.bk_01:visited {text-decoration: none; font: 9pt/11pt "±¼¸²", "±¼¸²Ã¼"; color:#535353;  font-weight:bold;}
.bk_01:hover {text-decoration:underline; font: 9pt/11pt "±¼¸²", "±¼¸²Ã¼"; color:#000000;  font-weight:bold;}

.bk_02:link {text-decoration: none; font: 9pt/11pt "±¼¸²", "±¼¸²Ã¼"; color:#535353;}
.bk_02:visited {text-decoration: none; font: 9pt/11pt "±¼¸²", "±¼¸²Ã¼"; color:#535353;}
.bk_02:hover {text-decoration: underline; font: 9pt/11pt "±¼¸²", "±¼¸²Ã¼"; color:#FF6000;}

.w_01:link {text-decoration: none; font: 9pt/11pt "±¼¸²", "±¼¸²Ã¼"; color:#70C4E6;}
.w_01:visited {text-decoration: none; font: 9pt/11pt "±¼¸²", "±¼¸²Ã¼"; color:#ffffff;}
.w_01:hover {text-decoration: none; font: 9pt/11pt "±¼¸²", "±¼¸²Ã¼"; color:#70C4E6;}

.bb_01:link {text-decoration: none; font: 9pt/11pt "±¼¸²", "±¼¸²Ã¼"; color:#2689BA;}
.bb_01:visited {text-decoration: none; font: 9pt/11pt "±¼¸²", "±¼¸²Ã¼"; color:#006699;}
.bb_01:hover {text-decoration: none; font: 9pt/11pt "±¼¸²", "±¼¸²Ã¼"; color:#2689BA;}

.v_01:link {text-decoration: none; font: 9pt/11pt "±¼¸²", "±¼¸²Ã¼"; color:#587EE8; font-weight:bold;}
.v_01:visited {text-decoration: none; font: 9pt/11pt "±¼¸²", "±¼¸²Ã¼"; color:#4B69BC; font-weight:bold;}
.v_01:hover {text-decoration: none; font: 9pt/11pt "±¼¸²", "±¼¸²Ã¼"; color:#587EE8; font-weight:bold;}

.r_01:link {text-decoration: none; font: 9pt/11pt "±¼¸²", "±¼¸²Ã¼"; color:#C91010; font-weight:bold;}
.r_01:visited {text-decoration: none; font: 9pt/11pt "±¼¸²", "±¼¸²Ã¼"; color:#E9140B; font-weight:bold;}
.r_01:hover {text-decoration: none; font: 9pt/11pt "±¼¸²", "±¼¸²Ã¼"; color:#C91010; font-weight:bold;}

.sub_m01:link {text-decoration:none; font: 9pt/11pt "±¼¸²", "±¼¸²Ã¼"; color:#333232;}
.sub_m01:visited{text-decoration: none; font: 9pt/11pt "±¼¸²", "±¼¸²Ã¼"; color:#333232;}
.sub_m01:hover {text-decoration: none; font: 9pt/11pt "±¼¸²", "±¼¸²Ã¼"; color:#FF5400;}

.border {border-width:1px; border-color:black; border-style:solid;}

.5min:link {text-decoration:none; font: 9pt/11pt "±¼¸²", "±¼¸²Ã¼"; color:#0F8492;}
.5min:visited{text-decoration: none; font: 9pt/11pt "±¼¸²", "±¼¸²Ã¼"; color:#0F8492;}
.5min:hover {text-decoration: none; font: 9pt/11pt "±¼¸²", "±¼¸²Ã¼"; color:#FF6000;}

.yo_01:link {text-decoration: none;font: 8pt/11pt  "µ¸¿ò", "µ¸¿òÃ¼"; color:#F54922;}
.yo_01:visited {text-decoration: none; font: 8pt/11pt  "µ¸¿ò", "µ¸¿òÃ¼"; color:#F54922;}
.yo_01:hover {text-decoration: underline;font: 8pt/11pt  "µ¸¿ò", "µ¸¿òÃ¼"; color:#F54922;}

.yo_02:link {text-decoration: none;font: 8pt/11pt "µ¸¿ò", "µ¸¿òÃ¼"; color:#FB4D89;}
.yo_02:visited {text-decoration: none; font: 8pt/11pt "µ¸¿ò", "µ¸¿òÃ¼"; color:#FB4D89;}
.yo_02:hover {text-decoration: underline;font: 8pt/11pt "µ¸¿ò", "µ¸¿òÃ¼"; color:#FB4D89;}

.yo_03:link {text-decoration:none; font: 9pt/11pt "µ¸¿ò", "±¼¸²Ã¼"; color:#428a00;}
.yo_03:visited{text-decoration: none; font: 9pt/11pt "µ¸¿ò", "±¼¸²Ã¼"; color:#4A4D31;}
.yo_03:hover {text-decoration: underline; font: 9pt/11pt "µ¸¿ò", "±¼¸²Ã¼"; color:#428a00;}

.yo_04:link {text-decoration:none; font: 8pt/11pt "µ¸¿ò", "±¼¸²Ã¼"; color:#428a00;}
.yo_04:visited{text-decoration: none; font: 8pt/11pt "µ¸¿ò", "±¼¸²Ã¼"; color:#4A4D31;}
.yo_04:hover {text-decoration: underline; font: 8pt/11pt "µ¸¿ò", "±¼¸²Ã¼"; color:#428a00;}

a.yo_05:link {text-decoration:none; font: 9pt/11pt "±¼¸²", "±¼¸²Ã¼"; color:#ffffff;}
a.yo_05:visited{text-decoration: none; font: 9pt/11pt "±¼¸²", "±¼¸²Ã¼"; color:#ffffff;}
a.yo_05:hover {text-decoration: underline; font: 9pt/11pt "±¼¸²", "±¼¸²Ã¼"; color:#ffffff;}

a.yo_15:link {text-decoration:none; font: 9pt/11pt "±¼¸²", "±¼¸²Ã¼"; color:FF0000;}
a.yo_15:visited{text-decoration: none; font: 9pt/11pt "±¼¸²", "±¼¸²Ã¼"; color:FF0000;}
a.yo_15:hover {text-decoration: underline; font: 9pt/11pt "±¼¸²", "±¼¸²Ã¼"; color:FF0000;}

.al_01:link {text-decoration:none; font: 8pt/11pt "±¼¸²", "±¼¸²Ã¼"; color:#ffffff;}
.al_01:visited{text-decoration: none; font: 8pt/11pt "±¼¸²", "±¼¸²Ã¼"; color:#ffffff;}
.al_01:hover {text-decoration: underline; font: 8pt/11pt "±¼¸²", "±¼¸²Ã¼"; color:#ffffff;}

<!----------------------------- À½¾Ç¹æ¼Û ¸ÞÀÎ ÆäÀÌÁö -------------------------------------------->
.al_02:link {text-decoration:none; font: 9pt/11pt "±¼¸²", "±¼¸²Ã¼"; color:#373737;}
.al_02:visited{text-decoration: none; font: 9pt/11pt "±¼¸²", "±¼¸²Ã¼"; color:#373737;}
.al_02:hover {text-decoration: underline; font: 9pt/11pt "±¼¸²", "±¼¸²Ã¼"; color:#373737;}

.al_03:link {text-decoration:none; font: 9pt/11pt "±¼¸²", "±¼¸²Ã¼"; color:#000000; font-weight:bold;}
.al_03:visited{text-decoration: none; font: 9pt/11pt "±¼¸²", "±¼¸²Ã¼"; color:#373737;}
.al_03:hover {text-decoration: nore; font: 9pt/11pt "±¼¸²", "±¼¸²Ã¼"; color:#000000; font-weight:bold;}

.al_04:link {text-decoration:none; font: 9pt/11pt "±¼¸²", "±¼¸²Ã¼"; color:#FF6000;}
.al_04:visited{text-decoration: none; font: 9pt/11pt "±¼¸²", "±¼¸²Ã¼"; color:#373737;}
.al_04:hover {text-decoration: none; font: 9pt/11pt "±¼¸²", "±¼¸²Ã¼"; color:#FF6000;}

.al_05:link {text-decoration:none; font: 9pt/11pt "±¼¸²", "±¼¸²Ã¼"; color:#549006;}
.al_05:visited{text-decoration: none; font: 9pt/11pt "±¼¸²", "±¼¸²Ã¼"; color:#373737;}
.al_05:hover {text-decoration: none; font: 9pt/11pt "±¼¸²", "±¼¸²Ã¼"; color:#549006;}

.al_06:link {text-decoration:none; font: 9pt/11pt "±¼¸²", "±¼¸²Ã¼"; color:#0394A1;}
.al_06:visited{text-decoration: none; font: 9pt/11pt "±¼¸²", "±¼¸²Ã¼"; color:#373737;}
.al_06:hover {text-decoration: none; font: 9pt/11pt "±¼¸²", "±¼¸²Ã¼"; color:#0394A1;}

.su_b:link {text-decoration:none; font: 9pt/11pt "±¼¸²", "±¼¸²Ã¼"; color:#00495E; font-weight:bold;}
.su_b:visited{text-decoration: none; font: 9pt/11pt "±¼¸²", "±¼¸²Ã¼"; color:#00495E; font-weight:bold;}
.su_b:hover {text-decoration: underline; font: 9pt/11pt "±¼¸²", "±¼¸²Ã¼"; color:#00495E; font-weight:bold;}

.al_07:link {text-decoration:none; font: 9pt/11pt "±¼¸²", "±¼¸²Ã¼"; color:#BB0706;}
.al_07:visited{text-decoration: none; font: 9pt/11pt "±¼¸²", "±¼¸²Ã¼"; color:#BB0706;}
.al_07:hover {text-decoration: none; font: 9pt/11pt "±¼¸²", "±¼¸²Ã¼"; color:#BB0706;}

.mu01:link {text-decoration:none; font: 8pt/11pt "±¼¸²", "±¼¸²Ã¼"; color:#000000;}
.mu01:visited {text-decoration:none; font: 8pt/11pt "±¼¸²", "±¼¸²Ã¼"; color:#3d3d3d;}
.mu01:hover{text-decoration:none; font: 8pt/11pt "±¼¸²", "±¼¸²Ã¼"; color:#000000;}

<!----------------------------- À½¾Ç¹æ¼Û ¸ÞÀÎ ÆäÀÌÁö -------------------------------------------->

<!----------------------------- ¼ºÀÎ¹æ¼Û ÆäÀÌÁö -------------------------------------------->
.s_01:link {text-decoration:none; font: 9pt/11pt "±¼¸²", "±¼¸²Ã¼"; color:#E05D19;}
.s_01:visited {text-decoration:none; font: 9pt/11pt "±¼¸²", "±¼¸²Ã¼"; color:#D6C2C3;}
.s_01:hover {text-decoration:underline; font: 9pt/11pt "±¼¸²", "±¼¸²Ã¼"; color:#E05D19;}

.s_02:link {text-decoration:none; font: 9pt/11pt "±¼¸²", "±¼¸²Ã¼"; color:#EA3D03;}
.s_02:visited {text-decoration:none; font: 9pt/11pt "±¼¸²", "±¼¸²Ã¼"; color:#B8AEAF;}
.s_02:hover {text-decoration:underline; font: 9pt/11pt "±¼¸²", "±¼¸²Ã¼"; color:#EA3D03;}

.s_03:link {text-decoration:none; font: 9pt/11pt "±¼¸²", "±¼¸²Ã¼"; color:#BEBEBC;}
.s_03:visited {text-decoration:none; font: 9pt/11pt "±¼¸²", "±¼¸²Ã¼"; color:#BEBEBC;}
.s_03:hover {text-decoration:underline; font: 9pt/11pt "±¼¸²", "±¼¸²Ã¼"; color:#BEBEBC;}

.s_04:link {text-decoration:none; font: 9pt/11pt "±¼¸²", "±¼¸²Ã¼"; color:#BA6105; font-weight:bold;}
.s_04:visited {text-decoration:none; font: 9pt/11pt "±¼¸²", "±¼¸²Ã¼"; color:#BA6105; font-weight:bold;}
.s_04:hover {text-decoration:underline; font: 9pt/11pt "±¼¸²", "±¼¸²Ã¼"; color:#BA6105; font-weight:bold;}

.s_05:link {text-decoration:none; font: 9pt/11pt "±¼¸²", "±¼¸²Ã¼"; color:#EFEDB0;}
.s_05:visited {text-decoration:none; font: 9pt/11pt "±¼¸²", "±¼¸²Ã¼"; color:#EFEDB0;}
.s_05:hover {text-decoration:underline; font: 9pt/11pt "±¼¸²", "±¼¸²Ã¼"; color:#EFEDB0;}

.s_06:link {text-decoration:none; font: 8pt/11pt "±¼¸²", "±¼¸²Ã¼"; color:#8E898D;}
.s_06:visited {text-decoration:none; font: 8pt/11pt "±¼¸²", "±¼¸²Ã¼"; color:#8E898D;}
.s_06:hover {text-decoration:underline; font: 8pt/11pt "±¼¸²", "±¼¸²Ã¼"; color:#8E898D;}

.s_07:link {text-decoration:none; font: 8pt/11pt "±¼¸²", "±¼¸²Ã¼"; color:#CB7601;}
.s_07:visited {text-decoration:none; font: 8pt/11pt "±¼¸²", "±¼¸²Ã¼"; color:#CB7601;}
.s_07:hover {text-decoration:underline; font: 8pt/11pt "±¼¸²", "±¼¸²Ã¼"; color:#CB7601;}

.s_09:link {text-decoration:none; font: 8pt/11pt "±¼¸²", "±¼¸²Ã¼"; color:#CB7601;}
.s_09:visited {text-decoration:none; font: 8pt/11pt "±¼¸²", "±¼¸²Ã¼"; color:#865803;}
.s_09:hover {text-decoration:underline; font: 8pt/11pt "±¼¸²", "±¼¸²Ã¼"; color:#CB7601;}
<!----------------------------- ¼ºÀÎ¹æ¼Û ÆäÀÌÁö -------------------------------------------->

<!---------------------------¸ÖÆ¼ È­»ó Ã¤ÆÃ----------------------------------------------------->

.loo08s {font: 8pt/11pt "±¼¸²", "±¼¸²Ã¼"; color:#FFF600;  font-weight:none;}
.loo02s {font: 8pt/11pt "±¼¸²", "±¼¸²Ã¼"; color:#0E2938;  font-weight:none;}
.loo03s {font: 8pt/11pt "±¼¸²", "±¼¸²Ã¼"; color:#FFF600;  font-weight:none;}
.loo04s {font: 8pt/11pt "±¼¸²", "±¼¸²Ã¼"; color:#7C7C7C;  font-weight:none;}
.loo05s {font: 8pt/11pt "±¼¸²", "±¼¸²Ã¼"; color:#061F9A;  font-weight:none;}
.loo06s {font: 9pt/11pt "±¼¸²", "±¼¸²Ã¼"; color:#FF6000;  font-weight:none;}
.loo07s {font: 8pt/11pt "±¼¸²", "±¼¸²Ã¼"; color:#FFFFFF;  font-weight:none;}


a.test1:link { text-decoration: none; font: 8pt/11pt "±¼¸²", "±¼¸²Ã¼"; color: #FF7400;}
a.test1:visited { text-decoration: none; font: 8pt/11pt "±¼¸²", "±¼¸²Ã¼"; color:#FF7400;}
a.test1:hover { text-decoration: underline; font: 8pt/11pt "±¼¸²", "±¼¸²Ã¼"; color: #FF7400;}

a.test:link { text-decoration: none; font: 8pt/11pt "±¼¸²", "±¼¸²Ã¼"; color: #0E2938;}
a.test:visited { text-decoration: none; font: 8pt/11pt "±¼¸²", "±¼¸²Ã¼"; color:#0E2938;}
a.test:hover { text-decoration: underline; font: 8pt/11pt "±¼¸²", "±¼¸²Ã¼"; color: #0E2938;}

.inputbox {
    BACKGROUND-COLOR: #FFFFFF;
    FONT-FAMILY: san-serif;
    FONT-SIZE: 8.7pt;
    FONT-WEIGHT: normal;
    VERTICAL-ALIGN: bottom;
    BORDER-STYLE: solid;
    BORDER-TOP-WIDTH: 1px;
    BORDER-LEFT-WIDTH: 1px;
    BORDER-RIGHT-WIDTH: 1px;
    BORDER-BOTTOM-WIDTH: 1px;
    BORDER-COLOR: #CACACA;
<!---------------------------¸ÖÆ¼ È­»ó Ã¤ÆÃ----------------------------------------------------->




<!----------------------±¸¸Å/¼±¹°Ã¢--------------------------------------->

.abo01 {font: 8pt/11pt "±¼¸²", "±¼¸²Ã¼"; color:#000000;  font-weight:none;}
.abo02 {font: 8pt/11pt "±¼¸²", "±¼¸²Ã¼"; color:#000000;  font-weight:none;}


<!----------------------±¸¸Å/¼±¹°Ã¢--------------------------------------->

a.visit_s2:link { text-decoration: none; font: 9pt/11pt "±¼¸²", "±¼¸²Ã¼"; color: #080583;}
a.visit_s2:visited { text-decoration: none; font: 9pt/11pt "±¼¸²", "±¼¸²Ã¼"; color:#080583;}
a.visit_s2:hover { text-decoration: underline; font: 9pt/11pt "±¼¸²", "±¼¸²Ã¼"; color: #080583;}


.trehelp1 {font: 8pt/11pt "±¼¸²", "±¼¸²Ã¼"; color:#8B8B8B;  font-weight:none;letter-spacing:-1;}



a.topmenu:link { text-decoration: none; font: 9pt/11pt "±¼¸²", "±¼¸²Ã¼"; color: #000000;}
a.topmenu:visited { text-decoration: none; font: 9pt/11pt "±¼¸²", "±¼¸²Ã¼"; color:#000000;}
a.topmenu:hover { text-decoration: underline; font: 9pt/11pt "±¼¸²", "±¼¸²Ã¼"; color: #FF6000;}

a.submenu:link { text-decoration: none; font: 9pt/11pt "±¼¸²", "±¼¸²Ã¼"; color: #4A2F2F;}
a.submenu:visited { text-decoration: none; font: 9pt/11pt "±¼¸²", "±¼¸²Ã¼"; color:#4A2F2F;}
a.submenu:hover { text-decoration: underline; font: 9pt/11pt "±¼¸²", "±¼¸²Ã¼"; color: #4A2F2F;}



.texth3  { font-family: "±¼¸²", "±¼¸²Ã¼"; font-size: 9pt; padding-top:3px}
.texth  { font-family: "±¼¸²", "±¼¸²Ã¼"; font-size: 9pt; padding-top:5px}
.ln16     { font-family: "±¼¸²", "±¼¸²Ã¼"; line-height: 16px; }
.ln17     { font-family: "±¼¸²", "±¼¸²Ã¼"; line-height: 17px; }



a.msearch:link { text-decoration: none; font: 9pt/11pt "±¼¸²", "±¼¸²Ã¼"; color: #524741;}
a.msearch:visited { text-decoration: none; font: 9pt/11pt "±¼¸²", "±¼¸²Ã¼"; color:#524741;}
a.msearch:hover { text-decoration: underline; font: 9pt/11pt "±¼¸²", "±¼¸²Ã¼"; color: #524741;}



.auto {font: 8pt/11pt "µ¸¿ò", "µ¸¿òÃ¼"; color: #3D3D3D;}

.td_bg {
	font-family: "±¼¸²", Helvetica, sans-serif;
	font-size: 13px;
	font-weight: 400;
	color: #3d3d3d;
}



/* ÅØ½ºÆ® */
.txt_11 {color:#555555;font-size:11px;line-height:13px;letter-spacing:-0.1em;}



/*FORM*/
/*·Î±×ÀÎ*/
.login {color:#555555;background-color:#fffae4;border:#cda023 1px solid;font-size:12px;width:180px;height:20px;padding:2px 0 0 2px;}

/*ÇÃ·¡Æ¼³Ñ*/
.text01 {font-size:11px;color:#333333}
.text02 {font-size:11px;color:#f12c6d}
.P_09 {font: 9pt/11pt "±¼¸²", "±¼¸²Ã¼"; color: ffffff;letter-spacing:-1.0px;word-spacing:-1px; font-weight:bold}
.P_16 {font: 9pt/11pt "±¼¸²", "±¼¸²Ã¼"; color: FAFD00;letter-spacing:-0.5px;word-spacing:-1px; font-weight:bold}textarea { font-family: "±¼¸²", "±¼¸²Ã¼"; font-size: 9pt; color: #222222; }
table {font-family: "±¼¸²"; font-size: 9pt; color: #3d3d3d;}
a {text-decoration: none ; color:#3d3d3d}
a:hover {text-decoration: underline; color:#FF6000}
img {border:none}

.board_white {font-family: "µ¸¿ò"; font-size: 9pt; line-height: 140%; color: white; text-decoration: none}
.board_white:hover {color: 333333; text-decoration: uberline}

.board_text {font-family: "µ¸¿ò"; font-size: 9pt; line-height: 140%; color: 02191C; text-decoration: none}

.column_home {font-size: 9pt; text-decoration: none; font-weight: bold; color: #956fce; line-height: 20px; text-align: justify}

.column_title01 {font-size: 9pt; text-decoration: none; font-weight: bold; color: #4182c4; line-height: 20px; text-align: justify}
.column_title02 {font-size: 9pt; text-decoration: none; font-weight: bold; color: #08797e; line-height: 20px; text-align: justify}
.column_title03 {font-family: "µ¸¿ò"; font-size: 11pt; text-decoration: none; font-weight: bold; color: #058b51}
.column_title04 {font-family: "µ¸¿ò"; font-size: 11pt; text-decoration: none; font-weight: bold; color: #4182c4}
.column_title05 {font-family: "µ¸¿ò"; font-size: 11pt; text-decoration: none; font-weight: bold; color: #c36d22}

.list_1 {font: 7pt/10pt "verdana", "±¼¸²Ã¼"; color: #D03815;}
.list_2 {font: 9pt/12pt "verdana", "±¼¸²Ã¼"; color: #0066cc;}
.list_1s {font: 8pt/14pt "verdana", "±¼¸²Ã¼"; color: #D03815;}
.list_2s {font: 9pt/14pt "verdana", "±¼¸²Ã¼"; color: #0066cc;}
select {font-family: "±¼¸²", "±¼¸²Ã¼"; font-size: 9pt; line-height: 11pt;}

.form {border:solid 1 #555555; background-color:white; color:#black; font-size: 9pt;}

.form_01 {border:solid 1 #555555; color:#black; font-size: 9pt;}

.txt1 {font-family: "verdana", "arial", "swiss"; font-size: 9pt; line-height: 13pt; text-decoration: none; color: #333333}
.txt2 {font-family: "verdana","arial","swiss"; font-size: 8pt; line-height: 10pt; text-decoration: none; color: #333333}
.txt3 {font-family: "verdana","arial","swiss"; font-size: 9pt; line-height: 13pt; text-decoration: none; color: #EE5A00}
.txt4 {font-family: "verdana","arial","swiss"; font-size: 8pt; line-height: 10pt; text-decoration: none; color: #EE5A00}
.txt5 {font-family: "verdana", "arial", "swiss"; font-size: 9pt; line-height: 13pt; text-decoration: none; color: #000000}
.txt6 {font-family: "verdana", "arial", "swiss"; font-size: 7pt; line-height: 13pt; text-decoration: none; color: #333333}
.txt7 {font-family: "gulim", "±¼¸²Ã¼"; font-size: 9pt; line-height: 13pt; color: #333333}
.txt8 {text-decoration: none; font: 8pt/11pt "µ¸¿ò", "±¼¸²Ã¼"; color:#7B797B;}
.txt9 {font-family: "verdana", "arial", "swiss"; font-size: 9pt; line-height: 13pt; text-decoration: none; color: #4A310C}

.m00 {font: 9pt/11pt "verdana", "±¼¸²Ã¼"; color:#ffffff;}
.m01 {font: 9pt/11pt "verdana", "±¼¸²Ã¼"; color:#333333;}
.m02 {font: 9pt/11pt "verdana", "±¼¸²Ã¼"; color:#214263;}
.mr01{font: 8pt/13pt "verdana", "±¼¸²Ã¼"; color: #FF6D13; text-decoration: none;}
.bk01 {font: 9pt/11pt "verdana", "±¼¸²Ã¼"; color:#000000;}
.bk02 {font: 9pt/11pt "verdana", "±¼¸²Ã¼"; color:#787878;}

.bk02s{font: 7pt/11pt "verdana", "±¼¸²Ã¼"; color:#787878;}

.b01 {font: 9pt/11pt "verdana", "±¼¸²Ã¼"; color:#054FA3;}

.y00 {font: 9pt/11pt "verdana", "±¼¸²Ã¼"; color:#FFE205;}
.rd {font: 9pt/11pt "verdana", "±¼¸²Ã¼"; color:#FC0000;}
.rd_02 {text-decoration: none; font: 7pt/10pt "verdana", "±¼¸²Ã¼"; color:#AB0E05;}
.rd_03 {text-decoration: none; font: 8pt/11pt "µ¸¿ò", "±¼¸²Ã¼"; color:#FF5757;}

.bd01 {font: 9pt/15pt "verdana", "±¼¸²Ã¼"; color:#000000;}
.bd66 {font: 9pt/15pt "verdana", "±¼¸²Ã¼"; color:#666666;}
.bd00 {font: 9pt/11pt "verdana", "±¼¸²Ã¼"; color:#000000; font-weight:bold;}

.bd01s {font: 8pt/11pt "±¼¸²", "±¼¸²Ã¼"; color:#895331;  font-weight:bold;}

.bd02s {font: 9pt/11pt "±¼¸²", "±¼¸²Ã¼"; color:#000000;  font-weight:bold;}

.bd02 {font: 9pt/11pt "±¼¸²", "±¼¸²Ã¼"; color:#3F3F3F;   font-weight:bold;}
.bd03 {font: 9pt/11pt "verdana", "±¼¸²Ã¼"; color:#F35600; font-weight:bold;}
.bd04 {font: 9pt/11pt "verdana", "±¼¸²Ã¼"; color:#FFF3DD; font-weight:bold;}

.br_01 {font: 9pt/15pt "verdana", "±¼¸²Ã¼"; color:#7E4005;}
.br_02 {font: 8pt/9pt "verdana", "µ¸¿ò"; color:#7E4005;}

a:link { text-decoration: none; font: 9pt/11pt "±¼¸²", "±¼¸²Ã¼"; color: #666666;}
a:visited { text-decoration: none; font: 9pt/11pt "±¼¸²", "±¼¸²Ã¼"; color:#333333;}
a:hover { text-decoration: underline; font: 9pt/11pt "±¼¸²", "±¼¸²Ã¼"; color: #FF6000;}

.or:link {text-decoration: none;font: 8pt/11pt "Verdana", "µ¸¿ò"; color:#FA4A22;}
.or:visited {text-decoration: none; font: 8pt/11pt "Verdana", "µ¸¿ò"; color:#FA4A22;}
.or:hover {text-decoration: underline;font: 8pt/11pt "Verdana", "µ¸¿ò"; color:#FA4A22;}

.ob:link {text-decoration: none; color:#214163;}
.ob:visited {text-decoration: none; color:#1E5B9B;}
.ob:hover {text-decoration:underline; color:#FF6000;}

.bd_01:link {text-decoration: none; color:#895331;  font-weight:bold;}
.bd_01:visited {text-decoration: none; color:#F36F 1D;  font-weight:bold;}
.bd_01:hover {text-decoration: none; color:#895331;  font-weight:bold;}


.bd_02:link {text-decoration: none; color:#895331;  font-weight:bold;}
.bd_02:visited {text-decoration: none; color:#F36F1D;  font-weight:bold;}
.bd_02:hover {text-decoration: none; color: #895331;  font-weight:bold;}

.bk_01:link {text-decoration: none; font: 9pt/11pt "±¼¸²", "±¼¸²Ã¼"; color:#000000;  font-weight:bold;}
.bk_01:visited {text-decoration: none; font: 9pt/11pt "±¼¸²", "±¼¸²Ã¼"; color:#535353;  font-weight:bold;}
.bk_01:hover {text-decoration:underline; font: 9pt/11pt "±¼¸²", "±¼¸²Ã¼"; color:#000000;  font-weight:bold;}

.bk_02:link {text-decoration: none; font: 9pt/11pt "±¼¸²", "±¼¸²Ã¼"; color:#535353;}
.bk_02:visited {text-decoration: none; font: 9pt/11pt "±¼¸²", "±¼¸²Ã¼"; color:#535353;}
.bk_02:hover {text-decoration: underline; font: 9pt/11pt "±¼¸²", "±¼¸²Ã¼"; color:#FF6000;}

.w_01:link {text-decoration: none; font: 9pt/11pt "±¼¸²", "±¼¸²Ã¼"; color:#70C4E6;}
.w_01:visited {text-decoration: none; font: 9pt/11pt "±¼¸²", "±¼¸²Ã¼"; color:#ffffff;}
.w_01:hover {text-decoration: none; font: 9pt/11pt "±¼¸²", "±¼¸²Ã¼"; color:#70C4E6;}

.bb_01:link {text-decoration: none; font: 9pt/11pt "±¼¸²", "±¼¸²Ã¼"; color:#2689BA;}
.bb_01:visited {text-decoration: none; font: 9pt/11pt "±¼¸²", "±¼¸²Ã¼"; color:#006699;}
.bb_01:hover {text-decoration: none; font: 9pt/11pt "±¼¸²", "±¼¸²Ã¼"; color:#2689BA;}

.v_01:link {text-decoration: none; font: 9pt/11pt "±¼¸²", "±¼¸²Ã¼"; color:#587EE8; font-weight:bold;}
.v_01:visited {text-decoration: none; font: 9pt/11pt "±¼¸²", "±¼¸²Ã¼"; color:#4B69BC; font-weight:bold;}
.v_01:hover {text-decoration: none; font: 9pt/11pt "±¼¸²", "±¼¸²Ã¼"; color:#587EE8; font-weight:bold;}

.r_01:link {text-decoration: none; font: 9pt/11pt "±¼¸²", "±¼¸²Ã¼"; color:#C91010; font-weight:bold;}
.r_01:visited {text-decoration: none; font: 9pt/11pt "±¼¸²", "±¼¸²Ã¼"; color:#E9140B; font-weight:bold;}
.r_01:hover {text-decoration: none; font: 9pt/11pt "±¼¸²", "±¼¸²Ã¼"; color:#C91010; font-weight:bold;}

.sub_m01:link {text-decoration:none; font: 9pt/11pt "±¼¸²", "±¼¸²Ã¼"; color:#333232;}
.sub_m01:visited{text-decoration: none; font: 9pt/11pt "±¼¸²", "±¼¸²Ã¼"; color:#333232;}
.sub_m01:hover {text-decoration: none; font: 9pt/11pt "±¼¸²", "±¼¸²Ã¼"; color:#FF5400;}

.border {border-width:1px; border-color:black; border-style:solid;}

.5min:link {text-decoration:none; font: 9pt/11pt "±¼¸²", "±¼¸²Ã¼"; color:#0F8492;}
.5min:visited{text-decoration: none; font: 9pt/11pt "±¼¸²", "±¼¸²Ã¼"; color:#0F8492;}
.5min:hover {text-decoration: none; font: 9pt/11pt "±¼¸²", "±¼¸²Ã¼"; color:#FF6000;}

.yo_01:link {text-decoration: none;font: 8pt/11pt  "µ¸¿ò", "µ¸¿òÃ¼"; color:#F54922;}
.yo_01:visited {text-decoration: none; font: 8pt/11pt  "µ¸¿ò", "µ¸¿òÃ¼"; color:#F54922;}
.yo_01:hover {text-decoration: underline;font: 8pt/11pt  "µ¸¿ò", "µ¸¿òÃ¼"; color:#F54922;}

.yo_02:link {text-decoration: none;font: 8pt/11pt "µ¸¿ò", "µ¸¿òÃ¼"; color:#FB4D89;}
.yo_02:visited {text-decoration: none; font: 8pt/11pt "µ¸¿ò", "µ¸¿òÃ¼"; color:#FB4D89;}
.yo_02:hover {text-decoration: underline;font: 8pt/11pt "µ¸¿ò", "µ¸¿òÃ¼"; color:#FB4D89;}

.yo_03:link {text-decoration:none; font: 9pt/11pt "µ¸¿ò", "±¼¸²Ã¼"; color:#428a00;}
.yo_03:visited{text-decoration: none; font: 9pt/11pt "µ¸¿ò", "±¼¸²Ã¼"; color:#4A4D31;}
.yo_03:hover {text-decoration: underline; font: 9pt/11pt "µ¸¿ò", "±¼¸²Ã¼"; color:#428a00;}

.yo_04:link {text-decoration:none; font: 8pt/11pt "µ¸¿ò", "±¼¸²Ã¼"; color:#428a00;}
.yo_04:visited{text-decoration: none; font: 8pt/11pt "µ¸¿ò", "±¼¸²Ã¼"; color:#4A4D31;}
.yo_04:hover {text-decoration: underline; font: 8pt/11pt "µ¸¿ò", "±¼¸²Ã¼"; color:#428a00;}

a.yo_05:link {text-decoration:none; font: 9pt/11pt "±¼¸²", "±¼¸²Ã¼"; color:#ffffff;}
a.yo_05:visited{text-decoration: none; font: 9pt/11pt "±¼¸²", "±¼¸²Ã¼"; color:#ffffff;}
a.yo_05:hover {text-decoration: underline; font: 9pt/11pt "±¼¸²", "±¼¸²Ã¼"; color:#ffffff;}

a.yo_15:link {text-decoration:none; font: 9pt/11pt "±¼¸²", "±¼¸²Ã¼"; color:FF0000;}
a.yo_15:visited{text-decoration: none; font: 9pt/11pt "±¼¸²", "±¼¸²Ã¼"; color:FF0000;}
a.yo_15:hover {text-decoration: underline; font: 9pt/11pt "±¼¸²", "±¼¸²Ã¼"; color:FF0000;}

.al_01:link {text-decoration:none; font: 8pt/11pt "±¼¸²", "±¼¸²Ã¼"; color:#ffffff;}
.al_01:visited{text-decoration: none; font: 8pt/11pt "±¼¸²", "±¼¸²Ã¼"; color:#ffffff;}
.al_01:hover {text-decoration: underline; font: 8pt/11pt "±¼¸²", "±¼¸²Ã¼"; color:#ffffff;}

<!----------------------------- À½¾Ç¹æ¼Û ¸ÞÀÎ ÆäÀÌÁö -------------------------------------------->
.al_02:link {text-decoration:none; font: 9pt/11pt "±¼¸²", "±¼¸²Ã¼"; color:#373737;}
.al_02:visited{text-decoration: none; font: 9pt/11pt "±¼¸²", "±¼¸²Ã¼"; color:#373737;}
.al_02:hover {text-decoration: underline; font: 9pt/11pt "±¼¸²", "±¼¸²Ã¼"; color:#373737;}

.al_03:link {text-decoration:none; font: 9pt/11pt "±¼¸²", "±¼¸²Ã¼"; color:#000000; font-weight:bold;}
.al_03:visited{text-decoration: none; font: 9pt/11pt "±¼¸²", "±¼¸²Ã¼"; color:#373737;}
.al_03:hover {text-decoration: nore; font: 9pt/11pt "±¼¸²", "±¼¸²Ã¼"; color:#000000; font-weight:bold;}

.al_04:link {text-decoration:none; font: 9pt/11pt "±¼¸²", "±¼¸²Ã¼"; color:#FF6000;}
.al_04:visited{text-decoration: none; font: 9pt/11pt "±¼¸²", "±¼¸²Ã¼"; color:#373737;}
.al_04:hover {text-decoration: none; font: 9pt/11pt "±¼¸²", "±¼¸²Ã¼"; color:#FF6000;}

.al_05:link {text-decoration:none; font: 9pt/11pt "±¼¸²", "±¼¸²Ã¼"; color:#549006;}
.al_05:visited{text-decoration: none; font: 9pt/11pt "±¼¸²", "±¼¸²Ã¼"; color:#373737;}
.al_05:hover {text-decoration: none; font: 9pt/11pt "±¼¸²", "±¼¸²Ã¼"; color:#549006;}

.al_06:link {text-decoration:none; font: 9pt/11pt "±¼¸²", "±¼¸²Ã¼"; color:#0394A1;}
.al_06:visited{text-decoration: none; font: 9pt/11pt "±¼¸²", "±¼¸²Ã¼"; color:#373737;}
.al_06:hover {text-decoration: none; font: 9pt/11pt "±¼¸²", "±¼¸²Ã¼"; color:#0394A1;}

.su_b:link {text-decoration:none; font: 9pt/11pt "±¼¸²", "±¼¸²Ã¼"; color:#00495E; font-weight:bold;}
.su_b:visited{text-decoration: none; font: 9pt/11pt "±¼¸²", "±¼¸²Ã¼"; color:#00495E; font-weight:bold;}
.su_b:hover {text-decoration: underline; font: 9pt/11pt "±¼¸²", "±¼¸²Ã¼"; color:#00495E; font-weight:bold;}

.al_07:link {text-decoration:none; font: 9pt/11pt "±¼¸²", "±¼¸²Ã¼"; color:#BB0706;}
.al_07:visited{text-decoration: none; font: 9pt/11pt "±¼¸²", "±¼¸²Ã¼"; color:#BB0706;}
.al_07:hover {text-decoration: none; font: 9pt/11pt "±¼¸²", "±¼¸²Ã¼"; color:#BB0706;}

.mu01:link {text-decoration:none; font: 8pt/11pt "±¼¸²", "±¼¸²Ã¼"; color:#000000;}
.mu01:visited {text-decoration:none; font: 8pt/11pt "±¼¸²", "±¼¸²Ã¼"; color:#3d3d3d;}
.mu01:hover{text-decoration:none; font: 8pt/11pt "±¼¸²", "±¼¸²Ã¼"; color:#000000;}

<!----------------------------- À½¾Ç¹æ¼Û ¸ÞÀÎ ÆäÀÌÁö -------------------------------------------->

<!----------------------------- ¼ºÀÎ¹æ¼Û ÆäÀÌÁö -------------------------------------------->
.s_01:link {text-decoration:none; font: 9pt/11pt "±¼¸²", "±¼¸²Ã¼"; color:#E05D19;}
.s_01:visited {text-decoration:none; font: 9pt/11pt "±¼¸²", "±¼¸²Ã¼"; color:#D6C2C3;}
.s_01:hover {text-decoration:underline; font: 9pt/11pt "±¼¸²", "±¼¸²Ã¼"; color:#E05D19;}

.s_02:link {text-decoration:none; font: 9pt/11pt "±¼¸²", "±¼¸²Ã¼"; color:#EA3D03;}
.s_02:visited {text-decoration:none; font: 9pt/11pt "±¼¸²", "±¼¸²Ã¼"; color:#B8AEAF;}
.s_02:hover {text-decoration:underline; font: 9pt/11pt "±¼¸²", "±¼¸²Ã¼"; color:#EA3D03;}

.s_03:link {text-decoration:none; font: 9pt/11pt "±¼¸²", "±¼¸²Ã¼"; color:#BEBEBC;}
.s_03:visited {text-decoration:none; font: 9pt/11pt "±¼¸²", "±¼¸²Ã¼"; color:#BEBEBC;}
.s_03:hover {text-decoration:underline; font: 9pt/11pt "±¼¸²", "±¼¸²Ã¼"; color:#BEBEBC;}

.s_04:link {text-decoration:none; font: 9pt/11pt "±¼¸²", "±¼¸²Ã¼"; color:#BA6105; font-weight:bold;}
.s_04:visited {text-decoration:none; font: 9pt/11pt "±¼¸²", "±¼¸²Ã¼"; color:#BA6105; font-weight:bold;}
.s_04:hover {text-decoration:underline; font: 9pt/11pt "±¼¸²", "±¼¸²Ã¼"; color:#BA6105; font-weight:bold;}

.s_05:link {text-decoration:none; font: 9pt/11pt "±¼¸²", "±¼¸²Ã¼"; color:#EFEDB0;}
.s_05:visited {text-decoration:none; font: 9pt/11pt "±¼¸²", "±¼¸²Ã¼"; color:#EFEDB0;}
.s_05:hover {text-decoration:underline; font: 9pt/11pt "±¼¸²", "±¼¸²Ã¼"; color:#EFEDB0;}

.s_06:link {text-decoration:none; font: 8pt/11pt "±¼¸²", "±¼¸²Ã¼"; color:#8E898D;}
.s_06:visited {text-decoration:none; font: 8pt/11pt "±¼¸²", "±¼¸²Ã¼"; color:#8E898D;}
.s_06:hover {text-decoration:underline; font: 8pt/11pt "±¼¸²", "±¼¸²Ã¼"; color:#8E898D;}

.s_07:link {text-decoration:none; font: 8pt/11pt "±¼¸²", "±¼¸²Ã¼"; color:#CB7601;}
.s_07:visited {text-decoration:none; font: 8pt/11pt "±¼¸²", "±¼¸²Ã¼"; color:#CB7601;}
.s_07:hover {text-decoration:underline; font: 8pt/11pt "±¼¸²", "±¼¸²Ã¼"; color:#CB7601;}

.s_09:link {text-decoration:none; font: 8pt/11pt "±¼¸²", "±¼¸²Ã¼"; color:#CB7601;}
.s_09:visited {text-decoration:none; font: 8pt/11pt "±¼¸²", "±¼¸²Ã¼"; color:#865803;}
.s_09:hover {text-decoration:underline; font: 8pt/11pt "±¼¸²", "±¼¸²Ã¼"; color:#CB7601;}
<!----------------------------- ¼ºÀÎ¹æ¼Û ÆäÀÌÁö -------------------------------------------->

<!---------------------------¸ÖÆ¼ È­»ó Ã¤ÆÃ----------------------------------------------------->

.loo08s {font: 8pt/11pt "±¼¸²", "±¼¸²Ã¼"; color:#FFF600;  font-weight:none;}
.loo02s {font: 8pt/11pt "±¼¸²", "±¼¸²Ã¼"; color:#0E2938;  font-weight:none;}
.loo03s {font: 8pt/11pt "±¼¸²", "±¼¸²Ã¼"; color:#FFF600;  font-weight:none;}
.loo04s {font: 8pt/11pt "±¼¸²", "±¼¸²Ã¼"; color:#7C7C7C;  font-weight:none;}
.loo05s {font: 8pt/11pt "±¼¸²", "±¼¸²Ã¼"; color:#061F9A;  font-weight:none;}
.loo06s {font: 9pt/11pt "±¼¸²", "±¼¸²Ã¼"; color:#FF6000;  font-weight:none;}
.loo07s {font: 8pt/11pt "±¼¸²", "±¼¸²Ã¼"; color:#FFFFFF;  font-weight:none;}


a.test1:link { text-decoration: none; font: 8pt/11pt "±¼¸²", "±¼¸²Ã¼"; color: #FF7400;}
a.test1:visited { text-decoration: none; font: 8pt/11pt "±¼¸²", "±¼¸²Ã¼"; color:#FF7400;}
a.test1:hover { text-decoration: underline; font: 8pt/11pt "±¼¸²", "±¼¸²Ã¼"; color: #FF7400;}

a.test:link { text-decoration: none; font: 8pt/11pt "±¼¸²", "±¼¸²Ã¼"; color: #0E2938;}
a.test:visited { text-decoration: none; font: 8pt/11pt "±¼¸²", "±¼¸²Ã¼"; color:#0E2938;}
a.test:hover { text-decoration: underline; font: 8pt/11pt "±¼¸²", "±¼¸²Ã¼"; color: #0E2938;}

.inputbox {
    BACKGROUND-COLOR: #FFFFFF;
    FONT-FAMILY: san-serif;
    FONT-SIZE: 8.7pt;
    FONT-WEIGHT: normal;
    VERTICAL-ALIGN: bottom;
    BORDER-STYLE: solid;
    BORDER-TOP-WIDTH: 1px;
    BORDER-LEFT-WIDTH: 1px;
    BORDER-RIGHT-WIDTH: 1px;
    BORDER-BOTTOM-WIDTH: 1px;
    BORDER-COLOR: #CACACA;
<!---------------------------¸ÖÆ¼ È­»ó Ã¤ÆÃ----------------------------------------------------->




<!----------------------±¸¸Å/¼±¹°Ã¢--------------------------------------->

.abo01 {font: 8pt/11pt "±¼¸²", "±¼¸²Ã¼"; color:#000000;  font-weight:none;}
.abo02 {font: 8pt/11pt "±¼¸²", "±¼¸²Ã¼"; color:#000000;  font-weight:none;}


<!----------------------±¸¸Å/¼±¹°Ã¢--------------------------------------->

a.visit_s2:link { text-decoration: none; font: 9pt/11pt "±¼¸²", "±¼¸²Ã¼"; color: #080583;}
a.visit_s2:visited { text-decoration: none; font: 9pt/11pt "±¼¸²", "±¼¸²Ã¼"; color:#080583;}
a.visit_s2:hover { text-decoration: underline; font: 9pt/11pt "±¼¸²", "±¼¸²Ã¼"; color: #080583;}


.trehelp1 {font: 8pt/11pt "±¼¸²", "±¼¸²Ã¼"; color:#8B8B8B;  font-weight:none;letter-spacing:-1;}



a.topmenu:link { text-decoration: none; font: 9pt/11pt "±¼¸²", "±¼¸²Ã¼"; color: #000000;}
a.topmenu:visited { text-decoration: none; font: 9pt/11pt "±¼¸²", "±¼¸²Ã¼"; color:#000000;}
a.topmenu:hover { text-decoration: underline; font: 9pt/11pt "±¼¸²", "±¼¸²Ã¼"; color: #FF6000;}

a.submenu:link { text-decoration: none; font: 9pt/11pt "±¼¸²", "±¼¸²Ã¼"; color: #4A2F2F;}
a.submenu:visited { text-decoration: none; font: 9pt/11pt "±¼¸²", "±¼¸²Ã¼"; color:#4A2F2F;}
a.submenu:hover { text-decoration: underline; font: 9pt/11pt "±¼¸²", "±¼¸²Ã¼"; color: #4A2F2F;}



.texth3  { font-family: "±¼¸²", "±¼¸²Ã¼"; font-size: 9pt; padding-top:3px}
.texth  { font-family: "±¼¸²", "±¼¸²Ã¼"; font-size: 9pt; padding-top:5px}
.ln16     { font-family: "±¼¸²", "±¼¸²Ã¼"; line-height: 16px; }
.ln17     { font-family: "±¼¸²", "±¼¸²Ã¼"; line-height: 17px; }



a.msearch:link { text-decoration: none; font: 9pt/11pt "±¼¸²", "±¼¸²Ã¼"; color: #524741;}
a.msearch:visited { text-decoration: none; font: 9pt/11pt "±¼¸²", "±¼¸²Ã¼"; color:#524741;}
a.msearch:hover { text-decoration: underline; font: 9pt/11pt "±¼¸²", "±¼¸²Ã¼"; color: #524741;}



.auto {font: 8pt/11pt "µ¸¿ò", "µ¸¿òÃ¼"; color: #3D3D3D;}

.td_bg {
	font-family: "±¼¸²", Helvetica, sans-serif;
	font-size: 13px;
	font-weight: 400;
	color: #3d3d3d;
}



/* ÅØ½ºÆ® */
.txt_11 {color:#555555;font-size:11px;line-height:13px;letter-spacing:-0.1em;}



/*FORM*/
/*·Î±×ÀÎ*/
.login {color:#555555;background-color:#fffae4;border:#cda023 1px solid;font-size:12px;width:180px;height:20px;padding:2px 0 0 2px;}

/*ÇÃ·¡Æ¼³Ñ*/
.text01 {font-size:11px;color:#333333}
.text02 {font-size:11px;color:#f12c6d}