.photo_sub3_toparea {
	width:718px;
	height:388px;
	background:url('/images/photo/photo_sub3_bg.jpg');
}

.photo_best_2st {
	padding-top:161px;
	padding-left:48px;
}

.photo_best_1st {
	padding-top:111px;
	padding-left:33px;
}

.photo_best_3st {
	padding-top:161px;
	padding-left:33px;
}

.best_medal {
	position:absolute;
	margin-top:-31px;
}

.best_img {
	width:175px;
	height:176px;
}

.best_1st_img {
	width:205px;
	height:206px;
}

.best_gall_info {
	height:24px;
	line-height:24px;
	margin-top:35px;
	color:#333;
}

.best_gall_info > img { vertical-align:top;margin-top:1px; margin-left:-4px; }

.best_st_bg {
	position:absolute;
	width:40px;
	height:40px;
	background:#7f7f7f;
	color:#fff;
	font-size:20px;
	font-weight:bold;
	text-align:center;
	line-height:40px;
	margin-top:-40px;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
	filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=90);
	opacity: .9;
}

.best_top_info {
	background: -moz-linear-gradient(top,  rgba(0,0,0,0.60) 0%, rgba(0,0,0,0) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  rgba(0,0,0,0.60) 0%, rgba(0,0,0,0) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to top,  rgba(0,0,0,0.60) 10%, rgba(0,0,0,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=0 ); /* IE6-9 */
	line-height:62px;
	height:45px;
	margin-top:-47px;
	position:relative;
}

.photo_list_thumb > a > img {
	display:inline-block;
	width:143px;
	height:144px;
	border:1px solid #dfe1e0;
	vertical-align:top;
}

.best_top_info > p > img { margin-top:21px; vertical-align:top; }