.frame {overflow: hidden; position: relative;}
.frame ul {list-style: none; margin: 0; padding: 0; position: absolute;}
.frame ul li { float: left; margin: 0 0px 0 0; padding: 0; cursor: pointer; }
.frame ul li img {width:100%;}
.frame ul li.active { color: #fff; background: #a03232; }


.pages_box {
	position:absolute;
	top:155px;
	width:95px;
}

/* Pages */
.pages {
	list-style: none;
	margin: 10px 0;
	padding: 0;
	text-align: center;
}
.pages li {
	display: inline-block;
	width: 8px; height: 8px;
	margin: 0 2px;
	text-indent: -999px;
	border-radius: 10px;
	background: #ccc;
	cursor: pointer;
	overflow: hidden;
}
.pages li:hover {
	background: #dbdbdb;
}
.pages li.active {
	background: #fff;
}

#floating {
	position:absolute;
	top:213px;
}

.rolling_wrap{
	margin-bottom:7px;
}