

.bg_tab_box { 
	width:716px; 
	height:35px;
	border:1px solid #dcdcdc;
	border-top-left-radius:4px;
	border-top-right-radius:4px;
	margin-top:-1px;
}

.bg_first_tab {
	background:#40b127;
	width:180px;
	height:35px;
	text-align:center;
	line-height: 35px;
	display:inline-block;
	margin-top: -1px;
	margin-left: -1px;
	vertical-align: top; 
	border-top-left-radius:4px;
}
	
.bg_first_tab b { font-size:16px; color:#fff; }

.bg_tab_menu { 
	background:#eaeaea; 
	width:179px; 
	height:34px;
	margin-left:-3px;
	text-align:center;
	line-height:35px; 
	display:inline-block; 
	border-right: 1px solid #dcdcdc;
}

.bg_tab_menu > b { font-size:16px; color:#999; }

.bg_tab_list_menu { 
	background:#eaeaea; 
	width:177px;
	height:34px;
	border-top-right-radius:4px; 
	margin-left:-3px; 
	text-align:center; 
	line-height:35px;
	display:inline-block;
	float:right;
}

.bg_tab_list_menu > b {font-size:16px; color:#999; }

.bg_arrow_right {
	width: 0px;
	height: 0px;
	border-left: 4px solid #fff;
	border-right: 4px solid transparent;
	border-bottom: 4px solid transparent;
	border-top: 4px solid transparent;
	display:inline-block;
	vertical-align:middle;
}

.bg_arrow_left { 
	width: 0px;
	height: 0px;
	border-right: 8px solid #17a1bf;
	border-bottom: 6px solid transparent;
	border-top: 7px solid transparent;
	display:inline-block;
}

.bg_left_box {
	width:380px; 
	height:174px;
	border:2px solid #17a1bf; 
	display:inline-block; 
	vertical-align:top; 
	margin-left:-8px;
	margin-top:10px;
	background:#e2faff;
	padding-top:6px;
	padding-left:8px;
}

.bg_live_box {  
	height:168px; 
	margin-top:8px;
	padding-top:41px;
	background: url('/images/intro/bg_live_bg.gif');
}

.bg_top_box { 
	background:#fffef6; 
	height:189px; 
	border:2px solid #40b127;
	margin-top:-2px;
}

.bg_right_btn { 
	width:123px;
	height:22px;
	background:#087b94;
	border-radius:4px;
	display:inline-block;
	line-height: 21px;
	float: right;
	margin-top: 10px;
	margin-right: 10px;
}

.bg_right_btn > p { display:inline-block; font-size:11px; font-weight:900; color:#fff; margin-left:10px;} 

.bg_mid_box {
	width:183px; 
	height:52px;
	border: 1px solid #cccccc;
	display:inline-block; 
	background:#fff;
	margin-top:2px;
}

.bg_mid_text_box {
	display:inline-block;
	line-height:18px;
	vertical-align: top;
	margin-top: 8px;
	margin-left: 8px;
}

.bg_mid_text_box > p:nth-child(1) {color:#666;}
.bg_mid_text_box > p:nth-child(2) {color:#fe727b;}

.bg_live_content { 
	width:710px; 
	height:113px;
	background:#f8f5ff;
	display:inline-block;
	margin-left:4px;
}

.bg_live_content_box{
	width:688px; 
	height:24px
	background:#ebebeb; 
	border:1px solid #cccccc; 
	margin: 0 auto;
	border-radius:4px; 
	line-height:24px;
	margin-top:20px; 
	text-align:center;
}

.bg_live_content_box > div > span { color:#6a2df5 }

.bg_live_content_btn { 
	height:33px;
	width:265px;
	background:#ff9a22;
	border-radius:4px;
	font-size:9.75pt;
	color:#fff;
	line-height:33px;
	font-weight:bold;
	text-align:center;
	cursor: pointer;
	display:inline-block;
	margin-top:10px;
	margin-left:227px;
}

.bg_bottom_box { 
	width:716px;
	height:447px;
	margin-top:8px; 
	border: 1px solid #cccccc;	
}

.bg_bottom_box > div > b:nth-child(1) { font-size:16px; color:#3fbef2;}
.bg_bottom_box > div > b:nth-child(2) { font-size:16px;}

.bg_bottom_btn_01 { 
	width:123px;
	height:22px;
	background:#3fbef2;
	border-radius:4px;
	display:inline-block;
	line-height: 21px;
	float: right;
	margin-top: 17px;
	margin-right: 19px;
	margin-bottom:10px;
}

.bg_bottom_btn_01 > p {display:inline-block; font-size:11px; font-weight:900; color:#fff; margin-left:10px;}

.bg_bottom_text_box_01 {
	display:inline-block; 
	vertical-align:top;
	font-weight:bold;
	margin-top:19px;
}

.bg_bottom_text_box_01 > div > b:first-child { color:#e7427b; } 
.bg_bottom_text_box_01 > div > span:{ font-weight:bold; }  

.bg_bottom_text_box_02 { 
	width:494px; 
	height:28px; 
	background:#ebebeb; 
	border:1px solid #cccccc;
	border-radius:4px; 
	line-height:24px; 
	text-align:center; 
	margin-top:7px; 
	display:inline-block;
}

.bg_bottom_btn_02 { 
	float:right;
	height:20px;
	width:102px;
	background:#e5296e;
	border-radius:4px;
	font-size:9.75pt;
	color:#fff;
	line-height:20px;
	font-weight:bold;
	text-align:center;
	cursor: pointer;
	border:1px solid #ea3e3e;
	margin-top: 15px;
}