.anm_bg { 
	width:945px;
	height:520px;
	background:url('/images/etc/mail/anm_bg.gif');
}
.table_box { 
	width:848px; 
	margin:auto;
	padding-top:139px;
}

tr { height:164px; }

.text_box { 
	width:250px;
	height:38px;
	margin:auto; 
	text-align:center; 
	line-height:38px;
}

.text_box > b { font-size:14px; color:#4182c4 }

.text-center margin_top_55 > a > img { padding-right:8px; }