
/* 프로필 메인 */

.main_top_title {
	background:#6a8cf8;height:35px;
}

.bad_friend_add {
	width:94px;
	height:20px;
	color:#666666;
	margin-right:5px;
	margin-top:12px;
}

.profile_box {
	min-height:497px;
	border:5px solid #6a8cf8;
}

.profile_content {
	width:217px;
	display:inline-block;
	margin-right:5px;
	vertical-align:top;
}

.profile_pic {
	width:215px;
	height:236px;
	border:1px solid #e0e0e2;
}

.profile_pic > img {
	width:215px;
	height:236px;
}

.profile_on_pic {
	position:absolute;
	margin-top:2px;
	margin-left:3px;
	width:27px !important;
	height:27px !important;
}

.pic_label {
	width:66px;
	height:24px;
	color:#fff;
	font-weight:bold;
	font-size:11px;
	text-align:center;
	line-height:24px;
	position:absolute;
	margin-left:150px;
	margin-top:-1px;
}

.delegate_box {
	height:45px;
	margin-top:10px;
	margin-left:20px;
}

.delegate_box > .text_btn_de4949 { width:111px;height:30px; }
.delegate_box > .text_btn_ea3e3e { width:62px;height:30px; }

.profile_text {
	width:508px;
	min-height:48px;
	background:#f1fcff;
	border:1px solid #c7f4ff;
	color:#666666;
	font-weight:bold;
	padding:8px 10px;
	border-radius:4px;
	line-height:16px;
	display:inline-block;
	margin-top:16px;
}

.profile_text_modi {
	width:90px;
	height:22px;
	vertical-align:bottom;
	margin-left:40px;
}

.profile_info {
	border-top:1px solid #333333;
	width:668px;
	margin-top:20px;
}


.profile_info tr {
	height:40px;
}
.profile_info td:nth-child(1),
.profile_info td:nth-child(3){
	color:#333333;
	font-weight:bold;
	border-bottom:1px solid #ececec;
	width:102px;
	background:#f4f4f6;
	padding-left:16px;
}
.profile_info td:nth-child(2),
.profile_info td:nth-child(4){
	 color:#666666;
	 border-bottom:1px solid #ececec;
	 width:230px;
	 padding-left:10px;
}

.my_info_modi {
	width:90px;
	height:22px;
	margin-top:10px;
	margin-right:20px;
}

.confirm_left {
	width:234px;
	height:90px;
	background:#f9da4c;
}

.confirm_right {
	width:482px;
	height:86px;
	border:2px solid #dbcfcb;
	border-left:none;
}

.confirm_right p {
	font-weight:bold;
	color:#f98d4c;
	padding-left:20px;
	padding-top:15px;
	padding-bottom:9px;
}

.confirm_right div {
	background:#515151;
	width:326px;
	height:30px;
	color:#ffd304;
	text-align:center;
	line-height:30px;
	margin-left:20px;
	font-weight:bold;
	display:inline-block;
}

.confirm_btn {
	background:#8f0094;
	width:111px;
	height:30px;
	border-radius:6px;
	border:none;
	color:#fff;
	font-weight:bold;
	vertical-align:top;
	margin-left:2px;
}

.confirm_member {
	width:346px;
	height:185px;
	border:1px solid #dcdcdc;
	display:inline-block;
	padding-top:16px;
	padding-left:7px;
}

.confirm_member_box {
	width:101px;
	height:145px;
	margin-top:9px;
	vertical-align:top;
	text-align:center;
	display:inline-block;
	margin-right:12px;
}

.confirm_member_nick {
	width:105px; 
	float:left;
	margin-bottom:3px;
	margin-top:5px;
}

.confirm_member div:nth-child(4){ margin-right:0px !important; }
.confirm_member_box > img { width:103px;height:99px }
.confirm_member_box > div:first-child{ width:103px !important; height:99px !important; }
.confirm_member_box b { color:#333333; margin-top:8px;width:102px;display:inline-block;-webkit-line-clamp: 1; /* 라인수 */}
.confirm_member_box p { color:#999999; }
.confirm_member_box span { font-weight:bold; }
.confirm_member_nick img { margin-bottom:1px; vertical-align: middle; }


.mybox_roadmap {
	height:142px;
	background:#f8f5ec;
	margin-top:8px;
	padding-top:13px;
	padding-left:15px;
}

.mybox_roadmap_text {
	width:671px;
	height:63px;
	background:#fff;
	border-radius:6px;
	margin-top:10px;
	padding:15px 0 20px 20px;
}

.mybox_roadmap_text div{ width:104px;display:inline-block;vertical-align:top;line-height:22px; }

.mybox_roadmap_text div:nth-child(3),
.mybox_roadmap_text div:nth-child(4){ margin-right:35px; }
.mybox_roadmap_text div:last-child { width:auto; }

.mybox_roadmap_text div a { color:#666666 !important; }


/* 내정보관리 */

.my_info_lock {
	width:115px;
	height:628px;
	display:inline-block;
	vertical-align:top;
}

.info_title {
	font-weight:bold;
	color:#999999;
	margin-top:40px;
	line-height:30px;
}
.info_title span { color:#000; }

.info_text_1 {
	font-weight:bold;
	color:#666666;
	margin-top:33px;
	line-height:22px;
}
.info_text_1 span { color:#ea3c3c; }

.info_lock_pass {
	margin-top:20px;
	padding-bottom:30px;
	border-bottom:1px solid #d9d9d9;
}

.info_lock_pwd {
	width:103px;
	height:22px;
	border:1px solid #cccccc;
	margin-left:20px;
}

.info_lock_pwd2 {
	width:103px;
	height:22px;
	border:1px solid #cccccc;
}

.myinfo_btn {
	width:80px;
	height:37px;
}

.info_back1 {
	background:url('../../../images/profile/my_info_img_2.png');
	width:237px;
	height:107px;
	background-repeat:no-repeat;
	background-position:center right;
	border:1px solid #dcdcdc;
	float:left;
	padding:30px;
	cursor:pointer;
}
.info_back2 {
	background:url('../../../images/profile/my_info_img_3.png');
	width:237px;
	height:107px;
	background-repeat:no-repeat;
	background-position:center right;
	border:1px solid #dcdcdc;
	float:left;
	padding:30px;
	cursor:pointer;
}

.info_modi_select { display:inline-block; }
.info_modi_select > select {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	background: #fff url(/images/arrow_btn.gif) no-repeat 99% 50%;
	padding-left:5px;
	font-size:12px;
	color:#999999;
	display:inline-block;
	border:1px solid #cccccc;
}
.info_modi_select > select::-ms-expand { 
	display: none;
}

#my_intro {
	width:100%; height:100%; border:0;resize:none;
}

/* 탈퇴 */
.my_confirm { font-weight:bold; margin-left:7px; width:60px; height:22px; }

.secession_text {
	border:1px solid #dcdcdc;
	width:400px;
	height:70px;
	margin-top:5px;
	resize:none;
	padding:5px;
}
.secession_btn_box { text-align:center;margin-top:25px; }
.secession_btn { width:118px;height:37px; }

/* 채팅함 */
.profile_chat { width:70px; display:inline-block; vertical-align:top; margin-top:10px; margin-left:15px;}
.profile_chat > a > img { border:1px solid #dfe1e0;width:68px;height:49px; }

.profile_table { 
	border-top:1px solid #333333;
	background:#f4f4f6;
	border-bottom:1px solid #ececec;
	height:40px;
}

ul.profile_table li { color:#333;line-height:40px;display:inline-block;font-weight:bold; }

.rechat_btn {
	width:31px;
	height:31px;
	background:#2ec3e5;
	border-radius:31px;
	line-height:31px;
	text-align:center;
	color:#fff;
	font-weight:bold;
	font-size:14px;
}

.meet_social_textarea {
	width:377px;
	height:32px;
	border:1px solid #d7f7ff;
	background:#f5fdff;
	border-radius:3px;
	padding:7px 10px;
}




/* 친구 */
.my_friend_select {
	height:20px;
	border-radius:0px;
	margin-left:2px;
	color:#333 !important;
	font-weight:bold;
}

/* 내 프로필 방문자 */ 
.visit_opacity {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
	filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=90);
	opacity: .9;
	width:462px;
	height:41px;
	line-height:41px;
	text-align:center;
	border:1px solid #3761e5;
	background:#6a8cf8;
	color:#fff;
	font-weight:bold;
	border-radius:14px;
	position:absolute;
	margin-left:255px;
	margin-top:-50px;
	cursor:pointer;
}

/* 프로포즈 */
.profile_propose {
	width:104px;
	height:37px;
	color:#fff;
	line-height:37px;
	font-weight:900;
	cursor:pointer; 
}


/* 포인트/충전 */

.point_main_top {
	background:url('../../../images/profile/point_top.gif');
	width:717px;
	height:137px;
	border:1px solid #dcdcdc;
}

.point_main_my {
	margin-top:67px;
	margin-left:243px;
	width:359px;
	height:40px;
	line-height:40px;
}

.point_search_area {
	background:#f0f0f0;
	height:97px;
	margin-top:10px;
}

.point_search_left {
	width:128px;
	color:#666;
	font-size:16px;
	font-weight:bold;
	line-height:97px;
	text-align:center;
	float:left;
}

.point_search_right {
	margin-top:15px;
	width:590px;
	float:right;
}

.point_term input[type=button] {
	width:50px;
	height:22px;
	border-radius:4px;
	border:none;
}

.term_chos { background:#3f66c7;color:#fff; }
.term_chos_no { background:#d4d4d4;color:#333; }

.point_term_search { margin-top:10px; }


/* 포인트 충전(처음) */

.charge_area { background:url('../../../images/profile/point_first_top.gif');width:718px;height:846px; }
.charge_box { width:406px;height:341px;background:#f0f1f5;border-radius:3px;margin-top:312px;margin-left:252px;position:absolute;}
/*.charge_box { width:406px;height:371px;background:#f0f1f5;border-radius:3px;margin-top:292px;margin-left:252px;position:absolute;} 기존 charge_box 클래스*/
.charge_selec { width:404px;height:35px;border:2px solid #e74c6e;border-radius:8px;background:#fff;line-height:35px;text-align:center;margin-top:9px; }

.boon_area { background:url('../../../images/profile/point_first_bottom.gif');width:718px;height:1027px;margin-top:17px; }

.meeting_box { margin-top:29px;width:225px;display:inline-block; }
.meeting_btn { width:103px;height:30px;border-radius:30px;background:#f97b9d;font-size:14px;font-weight:bold;text-align:center;line-height:30px;color:#fff;margin-top:18px;cursor:pointer;}
.meeting_date { width:400px;display:inline-block;vertical-align:top;margin-top:29px; }
.meeting_date > div > a > img { width:88px;height:69px;border:1px solid #dfe1e0;margin-right:9px; }
.meeting_date > div > a:last-child > img { margin-right:0px ! important; }

.real_time { width:280px;height:31px;border-radius:31px;background:#fbe1a1;line-height:31px;cursor:pointer;margin-top:4px; }

.point_hr { width:260px;border:1px solid #eaeaea;margin-top:10px;margin-left:10px;margin-bottom:10px; }

.music_chat { width:280px;height:31px;border-radius:31px;background:#cab6a3;line-height:31px;cursor:pointer;margin-top:5px; }

.marry_area { width:236px;height:47px;border:3px solid #fadd94;border-radius:10px;padding-top:15px; }

.area_real_chat { margin-top:65px;margin-left:25px; }
.area_real_chat > a:first-child > img { width:145px;height:86px;-webkit-transform: skew(-5deg,0deg);transform: skew(-5deg,0deg);position:absolute;z-index:23; }
.area_real_chat > a:last-child > img { width:145px;height:86px;-webkit-transform: skew(0deg,3deg);transform: skew(0deg,3deg);position:absolute;margin-top:-5px;margin-left:142px; }

.area_map > a > img { position:absolute; }

.area_map > a:nth-child(2) > img { margin-left:32px;margin-top:37px; }
.area_map > a:nth-child(3) > img { margin-left:83px;margin-top:3px; }
.area_map > a:nth-child(4) > img { margin-top:87px;margin-left:120px }
.area_map > a:nth-child(5) > img { margin-left:97px;margin-top:147px; }
.area_map > a:nth-child(6) > img { margin-top:185px;margin-left:7px; }
.area_map > a:nth-child(7) > img { margin-top:142px;margin-left:25px; }
.area_map > a:nth-child(8) > img { margin-top:98px;margin-left:-6px }
.area_map > a:nth-child(9) > img { margin-left:57px;margin-top:82px; }
.area_map > a:nth-child(10) > img { margin-left:10px;margin-top:243px; }

.main_top_title > p > img{ vertical-align:top;margin:-2px 5px 0 5px;cursor:pointer; }
.confirm_member_box > b > img { width:auto;height:auto;vertical-align:middle; }

/* 메세지함 */
.msg_box{border:solid 1px #DDDDDD; height:25px; background-color:#F5FDFF; border-radius:5px; padding-top:5px;}



/* 정회원 결제 수정부분 css 추가 */
.n_charge_area{position:relative; width:718px; height:641px; background:url('/images/profile/charge_area.png');}
.n_charge_area .charge_body{position:relative; width:628px; height:100%; margin:auto;}
.n_charge_area .charge_body div:nth-child(1){position:relative; width:100%; height:231px; top:100px; left:0px;}
.n_charge_area .charge_body div:nth-child(1) p{font-size:1.3em; font-weight:bold;}
.n_charge_area .charge_body div:nth-child(1) input{vertical-align:-2px; cursor:pointer;}
.n_charge_area .charge_body div:nth-child(1) div{border:solid 2px #E9496B; position:relative: width:100%; height:40px; border-radius:5px; margin-top:5px; line-height:40px; padding-left:20px;}
.n_charge_area .charge_body div:nth-child(1) div img{position:absolute; margin-top:5px; margin-left:10px;}
.n_charge_area .charge_body div:nth-child(1) b:nth-child(2){font-size:1.3em; color:#E33C44; padding-left:5px;}
.n_charge_area .charge_body div:nth-child(1) b:nth-child(3){font-size:1.3em; color:#5C5C5C; padding-left:8px;}
.n_charge_area .charge_body div:nth-child(1) b:nth-child(4){font-size:1.3em; color:#267EDF; padding-left:3px;}

.n_charge_area .charge_body .con_2{position:absolute; width:100%; height:167px; top:331px; left:0px;}
.n_charge_area .charge_body .con_2 p{font-size:1.3em; font-weight:bold;}
.n_charge_area .charge_body .con_2 ul{list-style:none; margin:0; padding:0; margin-top:5px;}
.n_charge_area .charge_body .con_2 li{float:left; padding-left:5px; padding-top:5px;}
.n_charge_area .charge_body .con_2 li div{position:relative; width:200px; height:42px; top:0px; background-color:#D3234A; border-radius:3px; text-align:center; line-height:40px; cursor:pointer;}
.n_charge_area .charge_body .con_2 li div span:nth-child(1){font-size:1.3em; font-weight:bold; color:#FFF;}
.n_charge_area .charge_body .con_2 li div span:nth-child(2){font-weight:bold; color:#FFF;}
.n_charge_area .charge_body .con_2 li div span:nth-child(3){font-weight:bold; color:#FFF;}
.n_charge_area .charge_body .con_2 li div img{position:absolute; top:0px; left:0px;}

.b_per{margin-left:10px;}
.b_per span:nth-child(1){position:relative; display:inline-block; width:50px; height:25px; background-color:#FF3D9F; line-height:25px; text-align:center; font-size:1.3em; color:#FFF;}
.b_per span:nth-child(2){position:relative; display:inline-block; width:40px; height:25px; background-color:#FF3D9F; line-height:25px; font-size:1.3em; color:#000000;}


.b_silver{padding-left:50px; font-size:1.3em; color:#BFC3C6;}
.b_gold{padding-left:50px; font-size:1.3em; color:#F7C551;}
.b_vip{padding-left:50px; font-size:1.3em; color:#22CDDC;}
.b_vvip{padding-left:50px; font-size:1.3em; color:#000000;}

